apdev-american-db-connection/src/main/app/apdev-american-db-connection.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="Welcome123" database="mulesoft" doc:name="MySQL Configuration"/>
    <flow name="apdev-american-db-connectionFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights" doc:name="HTTP"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from user_place;]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="879ae8e4-2a81-4923-b72b-b8a327da486d">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	ID: payload01.ID,
	code: payload01.code,
	price: payload01.price,
	departureDate: payload01.departureDate,
	origin: payload01.origin,
	destination: payload01.destination,
	emptySeats: payload01.emptySeats,
	plane: {
		type: payload01.planeType,
		totalSeats: payload01.totalSeats
	}
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="apdev-american-db-connectionFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/flights/{ID}" doc:name="HTTP"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select * from user_place where id = #[message.inboundProperties.'http.uri.params'.ID]]]></db:parameterized-query>
        </db:select>
        <dw:transform-message doc:name="Transform Message" metadata:id="7d1277dd-a011-4740-9ca9-ee7e1af6999b">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload map ((payload01 , indexOfPayload01) -> {
	ID: payload01.ID,
	code: payload01.code,
	price: payload01.price,
	departureDate: payload01.departureDate,
	origin: payload01.origin,
	destination: payload01.destination,
	emptySeats: payload01.emptySeats,
	plane: {
		type: payload01.planeType,
		totalSeats: payload01.totalSeats
	}
})]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
